script(src="http://maps.google.com/maps/api/js?3.5&sensor=true")
script(src="/OpenLayers/OpenLayers.js")
script(src='/nowjs/now.js')
script(src="/javascripts/map.js")
script(src="/javascripts/nowjstest.js")
script(src="/farbtastic/farbtastic.js")
script(src="/validator/js/languages/jquery.validationEngine-en.js")
script(src="/validator/js/jquery.validationEngine.js")
script(src="/fg-menu/fg.menu.js")
div(id='map')
div(id='popupholder')
