body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.topmenu {
  position:fixed;
  top:0px;
  left:300px;
  width:500px;

}

.dropdownmenu {
  width: 16px;
  height: 16px;
  float: right;
  background: url('/images/google_images.png') no-repeat -160px -120px;
  cursor:pointer;


}
.fgmenu-open {
  background: url('/images/google_images.png') no-repeat -160px -100px;

}

.dropdownmenu:hover{
	background: url('/images/google_images.png') no-repeat -140px -100px;
}

.drawimage{
	width: 20px;
	height: 20px;
	cursor:pointer;
	display:inline-block;
	background: url('/OpenLayers/theme/default/img/add_point_on.png') no-repeat 0px 0px;
}

.drawimage:hover{
	background: url('/OpenLayers/theme/default/img/add_point_off.png') no-repeat 0px 0px;
}

.menubutton{
	padding: 10px;
	cursor:pointer;
}

.layermenubutton {
	background-color: #CCCCCC;
	cursor: pointer;
	padding: 5px;
	display:block;
}

.layermenubutton:hover {
	background-color: #C4C41A;
}

.stopEditButton {
	cursor:pointer;
	color: red;

}

.stopEditButton:hover {
	color: blue;

}

#newLayerDiv{
	background-color: #CCCCCC;
	cursor: pointer;
	padding: 5px;
	display:block;
}

#statuswindow {
	overflow-y: scroll;
	max-height: 110px;
	
}


